@page "/createTestUser"
@inject IGenService GenService
@inject NavigationManager NavigationManager

<h3>Create Test User</h3>
<p>Please create a test user. This user will be deleted upon exit of this contracting process. Please note that if you navigate back to this screen at any point your test user we need to be reset. </p>
<form>
    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 100px;">Enter Name:</label>
        <input type="text" @bind="Name" class="form-control" style="flex-grow: 1;" placeholder="Enter your name" />
    </div>

    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 100px;">Enter NetID:</label>
        <input type="text" @bind="NetID" class="form-control" style="flex-grow: 1;" placeholder="Enter your NetID" />
    </div>
    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">Select Agreement Period:</label>
        <select @onchange="OnAgreementPeriodChanged" class="form-control" style="flex-grow: 1;">
            <option value="">-- Select --</option>
            <option value="3">Fall Winter 2024</option>
            <option value="4">Winter 2025</option>
            <option value="5">Spring 2025</option>
            <option value="6">Summer 2025</option>
            <option value="7">Fall Winter 2025</option>
        </select>
    </div>
    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">Application Eligible:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="ApplicationEligible" value="true" @onchange="e => OnApplicationEligibleChanged(true)" checked="@(ApplicationEligible == true)" />
            <label>Yes</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="ApplicationEligible" value="false" @onchange="e => OnApplicationEligibleChanged(false)" checked="@(ApplicationEligible == false)" />
            <label>No</label>
        </div>
    </div>

    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">Contract Eligible:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="ContractEligible" value="true" @onchange="e => OnContractEligibleChanged(true)" checked="@(ContractEligible == true)" />
            <label>Yes</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="ContractEligible" value="false" @onchange="e => OnContractEligibleChanged(false)" checked="@(ContractEligible == false)" />
            <label>No</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">Sex At Birth:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="SexAtBirth" value="true" @onchange="e => OnSexAtBirthChanged(true)" checked="@(SexAtBirth == true)" />
            <label>Female</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="SexAtBirth" value="false" @onchange="e => OnSexAtBirthChanged(false)" checked="@(SexAtBirth == false)" />
            <label>Male</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">Community:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="Community" value="true" @onchange="e => OnCommunityChanged(true)" checked="@(Community == true)" />
            <label>19+</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="Community" value="false" @onchange="e => OnCommunityChanged(false)" checked="@(Community == false)" />
            <label>18-</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">Minor:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="Minor" value="true" @onchange="e => OnMinorChanged(true)" checked="@(Minor == true)" />
            <label>True</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="Minor" value="false" @onchange="e => OnMinorChanged(false)" checked="@(Minor == false)" />
            <label>False</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">Athlete:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="Athlete" value="true" @onchange="e => OnAthleteChanged(true)" checked="@(Athlete == true)" />
            <label>True</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="Athlete" value="false" @onchange="e => OnAthleteChanged(false)" checked="@(Athlete == false)" />
            <label>False</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">ADA:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="ADA" value="true" @onchange="e => OnADAChanged(true)" checked="@(ADA == true)" />
            <label>True</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="ADA" value="false" @onchange="e => OnADAChanged(false)" checked="@(ADA == false)" />
            <label>False</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">FlexGE:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="FlexGE" value="true" @onchange="e => OnFlexGEChanged(true)" checked="@(FlexGE == true)" />
            <label>True</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="FlexGE" value="false" @onchange="e => OnFlexGEChanged(false)" checked="@(FlexGE == false)" />
            <label>False</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 200px;">International Scholarship:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="InternationalScholarship" value="true" @onchange="e => OnInternationalScholarshipChanged(true)" checked="@(InternationalScholarship == true)" />
            <label>True</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="InternationalScholarship" value="false" @onchange="e => OnInternationalScholarshipChanged(false)" checked="@(InternationalScholarship == false)" />
            <label>False</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">LISR:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="LISR" value="true" @onchange="e => OnLISRChanged(true)" checked="@(LISR == true)" />
            <label>True</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="LISR" value="false" @onchange="e => OnLISRChanged(false)" checked="@(LISR == false)" />
            <label>False</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">No Animal:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="NoAnimal" value="true" @onchange="e => OnNoAnimalChanged(true)" checked="@(NoAnimal == true)" />
            <label>True</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="NoAnimal" value="false" @onchange="e => OnNoAnimalChanged(false)" checked="@(NoAnimal == false)" />
            <label>False</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">Post Bacc:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="PostBacc" value="true" @onchange="e => OnPostBaccChanged(true)" checked="@(PostBacc == true)" />
            <label>True</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="PostBacc" value="false" @onchange="e => OnPostBaccChanged(false)" checked="@(PostBacc == false)" />
            <label>False</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">REQ Met:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="REQMet" value="true" @onchange="e => OnREQMetChanged(true)" checked="@(REQMet == true)" />
            <label>True</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="REQMet" value="false" @onchange="e => OnREQMetChanged(false)" checked="@(REQMet == false)" />
            <label>False</label>
        </div>
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        <label style="min-width: 150px;">Service ESA:</label>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="ServiceESA" value="true" @onchange="e => OnServiceESAChanged(true)" checked="@(ServiceESA == true)" />
            <label>True</label>
        </div>
        <div style="display: flex; align-items: center; gap: 5px;">
            <input type="radio" name="ServiceESA" value="false" @onchange="e => OnServiceESAChanged(false)" checked="@(ServiceESA == false)" />
            <label>False</label>
        </div>
    </div>


    <div>
        <label>First Generation:</label>
        <div>
            <input type="radio" name="FirstGeneration" value="true" @onchange="e => OnFirstGenerationChanged(true)" checked="@(FirstGeneration == true)" />
            <label>True</label>
        </div>
        <div>
            <input type="radio" name="FirstGeneration" value="false" @onchange="e => OnFirstGenerationChanged(false)" checked="@(FirstGeneration == false)" />
            <label>False</label>
        </div>
    </div>

    <div>
        <label>Wheatley VS Scholar:</label>
        <div>
            <input type="radio" name="WheatleyVSScholar" value="true" @onchange="e => OnWheatleyVSScholarChanged(true)" checked="@(WheatleyVSScholar == true)" />
            <label>True</label>
        </div>
        <div>
            <input type="radio" name="WheatleyVSScholar" value="false" @onchange="e => OnWheatleyVSScholarChanged(false)" checked="@(WheatleyVSScholar == false)" />
            <label>False</label>
        </div>
    </div>

    <div>
        <label>Waiting List:</label>
        <div>
            <input type="radio" name="WaitingList" value="true" @onchange="e => OnWaitingListChanged(true)" checked="@(WaitingList == true)" />
            <label>True</label>
        </div>
        <div>
            <input type="radio" name="WaitingList" value="false" @onchange="e => OnWaitingListChanged(false)" checked="@(WaitingList == false)" />
            <label>False</label>
        </div>
    </div>


    <div>
        <label>Helaman Priority Date:</label>
        <input type="datetime-local" @bind="HelamanPriorityDate" class="form-control" />
    </div>

    <div>
        <label>Heritage Priority Date:</label>
        <input type="datetime-local" @bind="HeritagePriorityDate" class="form-control" />
    </div>

    <div>
        <label>Wyview Park Priority Date:</label>
        <input type="datetime-local" @bind="WyviewParkPriorityDate" class="form-control" />
    </div>

    <div>
        <label>Riviera Priority Date:</label>
        <input type="datetime-local" @bind="RivieraPriorityDate" class="form-control" />
    </div>

    <button type="button" @onclick="NavigateToSelectAgreementPeriod" class="btn btn-primary"
            disabled="@(string.IsNullOrWhiteSpace(Name) || string.IsNullOrWhiteSpace(NetID) || AgreementPeriod == null ||
                        ApplicationEligible == null || ContractEligible == null || SexAtBirth == null || Community == null ||
                        Minor == null || Athlete == null || ADA == null || FlexGE == null || InternationalScholarship == null || 
                        LISR == null || NoAnimal == null || PostBacc == null || REQMet == null || ServiceESA == null || 
                        FirstGeneration == null || WheatleyVSScholar == null || WaitingList == null ||
                        HelamanPriorityDate == null || HeritagePriorityDate == null || WyviewParkPriorityDate == null ||
                        RivieraPriorityDate == null)">
        Submit
    </button>
</form>
@code {
    private string Name { get; set; } = string.Empty;
    private string NetID { get; set; } = string.Empty;
    private int? AgreementPeriod { get; set; } = null;

    // Prepopulate all boolean properties with false
    private bool? ApplicationEligible { get; set; } = false;
    private bool? ContractEligible { get; set; } = false;
    private bool? SexAtBirth { get; set; } = false;
    private bool? Community { get; set; } = false;
    private bool? Minor { get; set; } = false;
    private bool? Athlete { get; set; } = false;
    private bool? ADA { get; set; } = false;
    private bool? FlexGE { get; set; } = false;
    private bool? InternationalScholarship { get; set; } = false;
    private bool? LISR { get; set; } = false;
    private bool? NoAnimal { get; set; } = false;
    private bool? PostBacc { get; set; } = false;
    private bool? REQMet { get; set; } = false;
    private bool? ServiceESA { get; set; } = false;
    private bool? FirstGeneration { get; set; } = false;
    private bool? WheatleyVSScholar { get; set; } = false;
    private bool? WaitingList { get; set; } = false;

    // Prepopulate all date properties with December 12, 2024, at noon
    private DateTime? HelamanPriorityDate { get; set; } = new DateTime(2024, 12, 12, 12, 0, 0);
    private DateTime? HeritagePriorityDate { get; set; } = new DateTime(2024, 12, 12, 12, 0, 0);
    private DateTime? WyviewParkPriorityDate { get; set; } = new DateTime(2024, 12, 12, 12, 0, 0);
    private DateTime? RivieraPriorityDate { get; set; } = new DateTime(2024, 12, 12, 12, 0, 0);

    private void OnAgreementPeriodChanged(ChangeEventArgs e) => AgreementPeriod = int.TryParse(e.Value?.ToString(), out var value) ? value : null;
    private void OnApplicationEligibleChanged(bool value) => ApplicationEligible = value;
    private void OnContractEligibleChanged(bool value) => ContractEligible = value;
    private void OnSexAtBirthChanged(bool value) => SexAtBirth = value;
    private void OnCommunityChanged(bool value) => Community = value;
    private void OnMinorChanged(bool value) => Minor = value;
    private void OnAthleteChanged(bool value) => Athlete = value;
    private void OnADAChanged(bool value) => ADA = value;
    private void OnFlexGEChanged(bool value) => FlexGE = value;
    private void OnInternationalScholarshipChanged(bool value) => InternationalScholarship = value;
    private void OnLISRChanged(bool value) => LISR = value;
    private void OnNoAnimalChanged(bool value) => NoAnimal = value;
    private void OnPostBaccChanged(bool value) => PostBacc = value;
    private void OnREQMetChanged(bool value) => REQMet = value;
    private void OnServiceESAChanged(bool value) => ServiceESA = value;
    private void OnFirstGenerationChanged(bool value) => FirstGeneration = value;
    private void OnWheatleyVSScholarChanged(bool value) => WheatleyVSScholar = value;
    private void OnWaitingListChanged(bool value) => WaitingList = value;

    private void NavigateToSelectAgreementPeriod()
    {
        var queryParams = new List<string>
        {
            $"Name={Uri.EscapeDataString(Name)}",
            $"NetID={Uri.EscapeDataString(NetID)}",
            $"AgreementPeriod={AgreementPeriod}",
            $"ApplicationEligible={ApplicationEligible?.ToString().ToLower()}",
            $"ContractEligible={ContractEligible?.ToString().ToLower()}",
            $"SexAtBirth={SexAtBirth?.ToString().ToLower()}",
            $"Community={Community?.ToString().ToLower()}",
            $"Minor={Minor?.ToString().ToLower()}",
            $"Athlete={Athlete?.ToString().ToLower()}",
            $"ADA={ADA?.ToString().ToLower()}",
            $"FlexGE={FlexGE?.ToString().ToLower()}",
            $"InternationalScholarship={InternationalScholarship?.ToString().ToLower()}",
            $"LISR={LISR?.ToString().ToLower()}",
            $"NoAnimal={NoAnimal?.ToString().ToLower()}",
            $"PostBacc={PostBacc?.ToString().ToLower()}",
            $"REQMet={REQMet?.ToString().ToLower()}",
            $"ServiceESA={ServiceESA?.ToString().ToLower()}",
            $"FirstGeneration={FirstGeneration?.ToString().ToLower()}",
            $"WheatleyVSScholar={WheatleyVSScholar?.ToString().ToLower()}",
            $"WaitingList={WaitingList?.ToString().ToLower()}",
            $"HelamanPriorityDate={HelamanPriorityDate:yyyy-MM-ddTHH:mm:ss}",
            $"HeritagePriorityDate={HeritagePriorityDate:yyyy-MM-ddTHH:mm:ss}",
            $"WyviewParkPriorityDate={WyviewParkPriorityDate:yyyy-MM-ddTHH:mm:ss}",
            $"RivieraPriorityDate={RivieraPriorityDate:yyyy-MM-ddTHH:mm:ss}"
        };

        NavigationManager.NavigateTo($"/selectAgreementPeriod?{string.Join("&", queryParams)}");
    }
}
